<div class="clearfix">
  <div class="col-xs-12" style="padding: 0;">
    <form 
      #f="ngForm" 
      (ngSubmit)="onSubmit()">
      <div
        style="margin: 0;"
        class="form-group">
        <textarea
          id="text"
          name="text"
          ngModel
          class="form-control" 
          style="border-radius: 0; border-left: 0; resize: none;"
          required></textarea>
      </div>
      <button
        [disabled]="!messageEdit.valid"
        type="submit"
        class="btn btn-primary pull-right">Submit</button>
      <button class="btn btn-default pull-right" (click)="fileInput.click()">
        <input
          class="hidden"
          type="file"
          accept="image/*,video/webm"
          #fileInput
          (change)="onMediaUpload($event)">
        <span
          style="font-size: 16px;"
          class="glyphicon glyphicon-picture"></span>
      </button>
      <button
        *ngIf="editMode"
        (click)="onCancel()"
        type="button"
        class="btn btn-warning pull-right">Cancel</button>
      <button
        *ngIf="!showEmojis"
        [innerHtml]="emojis[0] | emojify"
        (click)="onShowEmojis()"
        type="button"
        style="padding: 0;"
        class="btn btn-default pull-right"></button>
      <div
        *ngIf="showEmojis"
        class="pull-right">
        <button
          *ngFor="let emoji of emojis; let i = index"
          [innerHtml]="emoji | emojify"
          (click)="onSelectEmoji(i)"
          type="button"
          style="padding: 0;"
          class="btn btn-default pull-right"></button>
      </div>
    </form>
  </div>
</div>
