<div class="clearfix">
  <div class="col-xs-12" style="padding: 0;">
    <form 
      #f="ngForm" 
      (ngSubmit)="onSubmit()">
      <div
        style="margin: 0;"
        class="form-group">
        <textarea
          id="text"
          name="text"
          ngModel
          class="form-control" 
          required></textarea>
      </div>
      <button
        [disabled]="!messageEdit.valid"
        type="submit"
        class="btn btn-primary pull-right">Submit</button>
      <button class="btn btn-default pull-right" (click)="fileInput.click()">
        <input
          class="hidden"
          type="file"
          accept="image/*,video/webm"
          #fileInput
          (change)="onMediaUpload($event)">
        <span
          style="font-size: 16px;"
          class="glyphicon glyphicon-picture"></span>
      </button>
      <button
        *ngIf="editMode"
        (click)="onCancel()"
        type="button"
        class="btn btn-warning pull-right">Cancel</button>
    </form>
  </div>
</div>
