<div class="clearfix">
  <div class="col-xs-12">
    <form 
      #f="ngForm" 
      (ngSubmit)="onSubmit()">
      <div
        class="form-group">
        <div class="textarea-container">
          <textarea
            (focusin)="onFocus()"
            (keydown)="onTextKey($event)"
            id="text"
            name="text"
            ngModel
            #textarea
            class="form-control" 
            required>
          </textarea>
          <div class="emoji-picker-container">
            <app-emoji-picker (emitEmoji)="onSelectEmoji($event)"></app-emoji-picker>
          </div>
        </div>
        <button
          [disabled]="!messageEdit.valid"
          type="submit"
          class="btn btn-primary pull-right submit"><span class="glyphicon glyphicon-send"></span></button>
        <button
          *ngIf="editMode"
          (click)="onCancel($event)"
          type="button"
          class="btn btn-warning pull-right">X</button>
        <button [disabled]="!media" class="btn btn-default pull-right file-picker" (click)="fileInput.click()">
          <input
            class="hidden"
            type="file"
            accept="image/*,video/webm"
            #fileInput
            (change)="onMediaUpload($event)">
          <span
            class="glyphicon glyphicon-picture"></span>
        </button>
      </div>
    </form>
  </div>
</div>
