<div class="messenger">
  <span
    (click)="toggleMessages()"
    *ngIf="showMessages"
    [ngClass]="{ notification: notification }"
    class="glyphicon glyphicon-plus toggle"></span>
  <span
    (click)="toggleMessages()"
    *ngIf="!showMessages"
    class="glyphicon glyphicon-minus toggle"></span>
  <div
    [ngClass]="{ toggled: showMessages }"
    class="sidebar-container col-xs-12 col-sm-3 col-md-2">
    <app-sidebar class="box"></app-sidebar>
  </div>
  <div
    [ngClass]="{ toggled: !showMessages }"
    class="messages-container col-xs-12 col-sm-9 col-md-10">
    <div class="box">
      <app-messages></app-messages>
      <app-typing></app-typing>
    </div>
  </div>
</div>
<app-conversation-edit
  [conversation]="conversation"
  *ngIf="conversation"></app-conversation-edit>
<app-conversation-settings
  [conversation]="conversationPart"
  *ngIf="conversationPart"></app-conversation-settings>
<app-friend-edit
  [friendship]="friendship"
  *ngIf="friendship"></app-friend-edit>
<app-reaction
  [reactions]="reactions"
  *ngIf="reactions && reactions.length"></app-reaction>
