<div style="height: 100%; position: relative;">
  <span
    (click)="toggleMessages()"
    *ngIf="showMessages"
    class="glyphicon glyphicon-plus"></span>
  <span
    (click)="toggleMessages()"
    *ngIf="!showMessages"
    class="glyphicon glyphicon-minus"></span>
  <div
    style="height: 100%; border-right: 1px solid #ddd;"
    [ngClass]="{ toggled: showMessages }"
    class="col-xs-12 col-sm-3 col-md-2">
    <app-sidebar class="box"></app-sidebar>
  </div>
  <div
    style="height: 100%; padding: 0;"
    [ngClass]="{ toggled: !showMessages }"
    class="col-xs-12 col-sm-9 col-md-10">
    <div class="box">
      <app-messages></app-messages>
      <app-typing></app-typing>
    </div>
  </div>
</div>
<app-conversation-edit
  [conversation]="conversation"
  *ngIf="conversation"></app-conversation-edit>
<app-friend-edit
  [friendship]="friendship"
  *ngIf="friendship"></app-friend-edit>
<app-reaction
  [reactions]="reactions"
  *ngIf="reactions && reactions.length"></app-reaction>
