.glyphicon {
  position: absolute;
  display: none;
  left: 5px;
  top: 5px;
  cursor: pointer;
  font-size: 22px;
  z-index: 1;
}

.toggled {
  display: initial;
}

@media only screen and (max-width: 768px) {
  .glyphicon {
    display: initial;
  }

  .toggled {
    display: none;
  }
}
