<div class="greyout"></div>
<div class="container">
  <button 
    (click)="onClose()"
    type="button" 
    class="close pull-right" 
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div
    style="width: auto;"
    class="jumbotron text-center">
    <div
      style="font-size: 10px;"
      *ngFor="let reaction of reactions">
      <span [innerHtml]="( reaction.text | dcrypt: key | decode8 | emojify ) + '<br>' + reaction.username">
      </span>
    </div>
  </div>
</div>
