<h2 class="text-center">{{ poll.question | dcrypt: key | decode8 | link | emojify }}</h2>
<hr>
<div
  (click)="onVote(i)"
  *ngFor="let answer of poll.answers; let i = index"
  class="answer">
  <label
    [ngClass]="{ selected: inAnswer( answer ) }">
    <input class="hidden" type="radio" name="answer" [checked]="inAnswer( answer )">{{ answer.text | dcrypt: key | decode8 | link | emojify }}
  </label>
  <div class="radio progress">
    <div
      [ngStyle]="{ 'width': progressX(i) }"
      class="progressBar text-center">
      <span *ngIf="answer.userIds.length">{{ answer.userIds.length }} Votes</span>
    </div>
  </div>
</div>
