<li #container
  (click)="onSelectFriendship()" 
  [ngClass]="{ notification: notification, activated: active }"
  class="list-group-item">
  <span
    (click)="onRemove()"
    class="pull-right glyphicon glyphicon-remove"></span>
  <span
    *ngIf="isRequest()"
    (click)="onAccept()"
    class="pull-right glyphicon glyphicon-ok"></span>
  <span
    *ngIf="isPending()"
    class="pull-right small pending">Pending</span>
  <p style="width: 85%; word-wrap: break-word;">{{ getFriendName() }}</p>
</li>
