.notification {
  border: 1px solid red;
}

li {
  cursor: pointer;
  position: relative;
  border-radius: 0;
  border-right: none;
}

li:hover {
  opacity: 0.7;
}

li.activated {
  border: 1px solid #449d44;
}
