<div class="clearfix box">
  <div
    #container
    (scroll)="onContainerScroll()"
    style="padding: 0; overflow-y: scroll; position: relative;"
    class="col-xs-12 clearfix content">
    <div style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;">
      <app-message-list></app-message-list>
    </div>
    <app-typing></app-typing>
  </div>
  <div
    *ngIf="active"
    style="padding: 0;"
    class="col-xs-12 clearfix footer">
    <app-message-edit></app-message-edit>
  </div>
</div>
