
<%include header%>
	<!-- Modal -->
	<div id="new-convo-modal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
	  	<div class="modal-header">
			<h4 class="modal-title">New Conversation</h4>
			<button type="button" class="close" data-dismiss="modal">&times;</button>
	  	</div>
	  	<div class="modal-body">
			<p>Create a new conversation:</p>
			<form class="form-horizontal" role="form">
				<!-- Conversation Title Input -->
				<div class="form-group">
				  <label class="col-sm-2 control-label" for="inputTitle" >Name</label>
				  <div class="col-sm-10">
					  <input type="text" class="form-control" id="inputTitle" placeholder="Conversation Name"/>
				  </div>
				</div>
				<!-- Users Input -->
                  <div class="form-group">
                    <label  class="col-sm-2 control-label" for="inputUsers">Users</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUsers" placeholder="Users (comma-separated)"/>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                  </div>
                </form>
	  	</div>
		<div class="modal-footer">
			<button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<button id="submit" type="button" class="btn btn-primary" >Submit</button>
	  	</div>
		</div>

	</div>
	</div>


	<div id="placeholder-container-id" class="container">
	<br>
	<div id="conversation-list" class="sidenav">
		<button id="new-convo-button" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-convo-modal">New Conversation</button>
		<br>
		<div id="testCoversation" class="card"> <div class="card-body conversation">Test Conversation</div>
			<button type="button" class="close closeConversation" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<br>
	<div id="message-container" class="container">
		<div class="card">
			<div class="card-body">
				This is some text within a card body.
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				This is a second card body.
			</div>
		</div>
	</div>
	<div class="mx-auto" style="width: 200px;">
		<textarea id="text-entry-box" placeholder="Enter Your Message Here..."></textarea>
		<button id="send-button" type="button" class="btn btn-primary btn-lg">Send Message</button>
	</div>

	<script type="text/javascript" src="/js/messenger.js"></script>
<%include footer%>
