<%include header%>
	DOODLE CHAT (Sprint 1)
	<br><a href="#" class="badge badge-primary">Home</a>
	<a href="#" class="badge badge-secondary">Profile</a>
	<div id="message-container" class="container">
		<div class="card">
			<div class="card-body">
				This is some text within a card body.
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				This is a second card body.
			</div>
		</div>
	</div>
	<div class="mx-auto" style="width: 200px;">
		<textarea id="text-entry-box" placeholder="Enter Your Message Here..."></textarea>
		<button id="send-button" type="button" class="btn btn-primary btn-lg">Send Message</button>
	</div>

	<script type="text/javascript" src="/js/messenger.js"></script>
<%include footer%>
