<div class="clearfix" #clearfix>
  <li 
    [ngStyle]="{ padding: message.media || message.youtubeId ? '0' : '', width: ( message.media && message.media.mime.indexOf( 'video' ) !== -1 ) || message.poll || message.youtubeId ? '50%' : '' }"
    [ngClass]="{ stranger: !owner || message.poll || message.system, owner: owner && !message.poll && !message.system, 'pull-left': !owner || message.system, 'pull-right': owner && !message.system }"
    (contextmenu)="onPress($event)"
    class="list-group-item">
    <p
      *ngIf="!message.system && message.text !== undefined && message.text !== '' && !message.media && !message.poll && !message.youtubeId"
      [innerHtml]="message.text | dcrypt: key | decode8 | link | emojify | normalize"></p>
    <p
      *ngIf="message.system && message.text !== undefined && message.text !== '' && !message.media && !message.poll && !message.youtubeId">
      <em [innerHtml]="message.text | dcrypt: key | decode8 | link | emojify | normalize"></em></p>
    <app-media
      *ngIf="message.media"
      [media]="message.media"></app-media>
    <app-poll
      *ngIf="message.poll"
      [poll]="message.poll"
      [messageId]="message._id"></app-poll>
    <app-youtube-embedded
      *ngIf="message.youtubeId"
      [youtubeId]="message.youtubeId"></app-youtube-embedded>
    <div class="user-tag" *ngIf="!owner">
      <span class="small">{{ message.username + ' ' + getDate() }}</span>
    </div>
    <button 
      (click)="onDelete()"
      *ngIf="owner && !message.system"
      type="button" 
      class="close delete" 
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span 
      (click)="onEdit()"
      *ngIf="owner && !message.media && !message.poll && !message.youtubeId && !message.system"
      class="glyphicon glyphicon-edit edit" 
      aria-hidden="true"></span>
    <div class="reactions" (click)="onCheckReactions()">
      <span
        *ngFor="let reaction of message.reactions"
        [innerHtml]="reaction.text | dcrypt: key | decode8 | emojify"></span>
    </div>
  </li>
  <div
    *ngIf="owner && showOptions"
    class="pull-right options">
    <button
      (click)="onEdit()"
      *ngIf="!message.media && !message.youtubeId && !message.system"
      type="button"
      class="btn btn-default">
      <span 
        class="glyphicon glyphicon-edit" 
        aria-hidden="true"></span>
    </button>
    <button
      (click)="onDelete()"
      type="button"
      class="btn btn-default">
      <span 
        class="glyphicon glyphicon-trash" 
        aria-hidden="true"></span>
    </button>
    <button
      (click)="onCloseOptions()"
      type="button"
      class="btn btn-default">
      <span 
        class="glyphicon glyphicon-remove" 
        aria-hidden="true"></span>
    </button>
  </div>
  <div
    [ngClass]="{ reactionShow: editReaction }"
    *ngIf="!owner"
    class="pull-left new-reaction">
    <span
      *ngIf="!editReaction"
      [innerHtml]="'🤔' | emojify"
      (click)="toggleReaction()"></span>
    <app-reaction-picker
      (emitEmoji)="onSelectEmoji($event)"
      *ngIf="editReaction"></app-reaction-picker>
    <button
      *ngIf="editReaction"
      (click)="editReaction = false"
      type="button"
      class="btn btn-default pull-left">X</button>
  </div>
</div>
