<div class="clearfix">
  <li 
    [ngStyle]="{ padding: message.media ? '0' : '' }"
    [ngClass]="{ stranger: !owner, 'pull-left': !owner, 'pull-right': owner }"
    class="list-group-item">
    <span
      *ngIf="message.text !== ''"
      [ngStyle]="{ 'padding-right': owner ? '15px' : '' }"
      style="font-size: 18px;">{{ message.text }}</span>
    <app-media
      *ngIf="message.media"
      [media]="message.media"></app-media>
    <div style="margin-top: -3px;" *ngIf="!owner">
      <span
        class="pull-left"
        class="small">{{ message.username }}</span>
    </div>
    <button 
      (click)="onDelete()"
      *ngIf="owner"
      type="button" 
      style="color: red;"
      class="close pull-right" 
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span 
      (click)="onEdit()"
      *ngIf="owner && !message.media"
      class="pull-right glyphicon glyphicon-edit" 
      style="cursor: pointer; padding-top: 2px; margin-right: 10px;"
      aria-hidden="true"></span>
  </li>
</div>
