li {
  position: relative;
  max-width: 50%;
}

li.owner {
  color: white;
  background-color: #449d44;
}

li.stranger {
  min-height: 55px;
  padding-bottom: 0;
}

button.close {
  opacity: 0.5;
}

button.close:hover {
  opacity: 0.7;
}
