<div class="clearfix" #clearfix>
  <li 
    style="position: relative;"
    [ngStyle]="{ padding: message.media ? '0' : '', width: ( message.media && message.media.mime.indexOf( 'video' ) !== -1 ) ? '50%' : '' }"
    [ngClass]="{ stranger: !owner, owner: owner, 'pull-left': !owner, 'pull-right': owner }"
    class="list-group-item">
    <p
      *ngIf="message.text !== undefined && message.text !== ''"
      [ngStyle]="{ 'padding-right': owner ? '15px' : '' }"
      [innerHtml]="message.text | dcrypt: key | decode8 | link | emojify | normalize"
      style="font-size: 18px; word-break: break-word;"></p>
    <app-media
      *ngIf="message.media"
      [media]="message.media"></app-media>
    <div style="margin-top: -3px;" *ngIf="!owner">
      <span
        class="pull-left"
        class="small">{{ message.username }}</span>
    </div>
    <button 
      (click)="onDelete()"
      *ngIf="owner"
      type="button" 
      style="color: black; position: absolute; top: -3px; right: 5px; font-size: 24px;"
      class="close" 
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <span 
      (click)="onEdit()"
      *ngIf="owner && !message.media"
      class="glyphicon glyphicon-edit" 
      style="cursor: pointer; color: black; position: absolute; bottom: 2px; top: auto; right: 5px; font-size: 16px;"
      aria-hidden="true"></span>
    <div (click)="onCheckReactions()">
      <span
        *ngFor="let reaction of message.reactions"
        [innerHtml]="reaction.text | dcrypt: key | decode8 | emojify"
        style="font-size: 10px;"></span>
    </div>
  </li>
  <div
    *ngIf="!owner"
    class="pull-left reaction">
    <span
      *ngIf="!editReaction"
      [innerHtml]="'🤔' | emojify"
      (click)="toggleReaction()"></span>
    <app-emoji-picker
      (emitEmoji)="onSelectEmoji(emoji)"
      *ngIf="editReaction"></app-emoji-picker>
  </div>
</div>
