<div class="clearfix">
  <div class="col-xs-12 col-md-10 col-md-offset-1">
    <h3>Sign Up</h3>
    <form 
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          formControlName="username"
          class="form-control" 
          type="text">
        <div
          *ngIf="signupForm.get('username').invalid && ( signupForm.get('username').touched || signupForm.get('username').dirty )">
          <div
            class="small"
            *ngIf="signupForm.get('username').errors['usernameTaken']">
            Username Taken
          </div>
          <div
            class="small"
            *ngIf="signupForm.get('username').errors['required']">
            Username Is Required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Password</label>
        <input
          id="password"
          formControlName="password"
          class="form-control" 
          type="password">
        <div *ngIf="signupForm.get('password').invalid && ( signupForm.get('password').touched || signupForm.get('password').dirty )" class="small">Password Must Be 6 Characters Long</div>
      </div>
      <button
        [disabled]="signupForm.invalid"
        type="submit"
        class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
