<div
  class="emoji-picker"
  [ngClass]="{ hidden: !isOpen }"
  *ngIf="isOpen || preload">
  <div
    class="clearfix">
    <div
      *ngFor="let emoji of headers; let i = index"
      [innerHtml]="emoji.emoji | emojify"
      [ngStyle]="{ border: selected === i ? 'solid 1px #449d44' : 'none' }"
      (click)="selected = i"
      title="{{ emoji.title }}"
      class="pull-left emoji-header"></div>
  </div>
  <hr>
  <div class="picker-body">
    <div
      *ngFor="let emoji of emojis[selected]; let i = index"
      [innerHtml]="emoji | emojify"
      (click)="onSelectEmoji(i)"
      class="pull-left selection"></div>
  </div>
</div>
<div
  [ngStyle]="{ 'font-size': isOpen ? '25px' : 'inherit' }"
  [innerHtml]="( !isOpen ) ? ( headers[0].emoji | emojify ) : 'X'"
  (click)="toggle()"
  class="pull-right text-center emoji-toggle"></div>
