<div
  style="width: 204px; height: 200px; background-color: white; border: solid 1px #ccc; margin-right: 3px;"
  [ngClass]="{ hidden: !isOpen }"
  *ngIf="isOpen || preload">
  <div
    class="clearfix">
    <div
      *ngFor="let emoji of headers; let i = index"
      [innerHtml]="emoji.emoji | emojify"
      [ngStyle]="{ border: selected === i ? 'solid 1px #449d44' : 'none' }"
      (click)="selected = i"
      title="{{ emoji.title }}"
      style="cursor: pointer;"
      class="pull-left"></div>
  </div>
  <hr style="margin: 6px 0;">
  <div style="height: 153px; overflow-y: scroll;">
    <div
      *ngFor="let emoji of emojis[selected]; let i = index"
      [innerHtml]="emoji | emojify"
      (click)="onSelectEmoji(i)"
      style="padding: 0; font-size: inherit; cursor: pointer; margin: 2px 1px;"
      class="pull-left selection"></div>
  </div>
</div>
<div
  [ngStyle]="{ 'font-size': isOpen ? '25px' : 'inherit' }"
  [innerHtml]="( !isOpen ) ? ( headers[0].emoji | emojify ) : 'X'"
  (click)="toggle()"
  style="padding: 0; font-size: inherit; cursor: pointer; width: 32px; height: 32px;"
  class="pull-right text-center"></div>
