<div (click)="onClose()" class="greyout"></div>
<div class="container">
  <button 
    (click)="onClose()"
    type="button" 
    class="close pull-right" 
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="jumbotron">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <h3>Username</h3>
            <input
              formControlName="username"
              class="form-control"
              type="text">
              <div
                *ngIf="editForm.get('username').pending || ( editForm.get('username').invalid && ( editForm.get('username').dirty || editForm.get('username').touched ) && editForm.get('username').errors['usernameInvalid'] )"
                class="small">Username Invalid</div>
              <div
                *ngIf="editForm.get('username').invalid && editForm.get('username').errors['required']"
                class="small">Username Is Required</div>
          </div>
        </div>
        <div class="col-xs-12">
          <button
            [disabled]="editForm.invalid || editForm.pending"
            class="btn btn-primary"
            type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
