/* You can add global styles to this file, and also import other style files */
app-root {
  app-header {
    nav.navbar {
      margin: 0;
      a {
        cursor: pointer;
      }
    }
  }

  app-alert {
    .alert {
      margin: 0;
    }
  }

  app-landing {
    .container {
      font-size: 18px;
    }
  }

  app-signup {

  }

  app-signin {

  }

  app-messenger {
    .toggle {
      position: absolute;
      display: none;
      left: 5px;
      top: 5px;
      cursor: pointer;
      font-size: 22px;
      z-index: 1;
    }

    .toggled {
      display: initial;
    }

    @media only screen and (max-width: 767px) {
      .toggle {
        display: initial;
      }

      .toggled {
        display: none;
      }
    }

    .messenger {
      height: 100%;
      position: relative;

      .sidebar-container {
        height: 100%;
        border-right: 1px solid #ddd;

        app-sidebar {
          .sidebar {
            padding: 0;
            overflow-y: scroll;
            position: relative;
            height: 100%;

            .conversations-container, .friends-container {
              padding: 0;

              app-conversation-list, app-friend-list {
                ul {
                  margin: 0;

                  .new-conversation, .new-friend {
                    border-right: 0;
                    border-right: none;
                    color: #449d44;

                    &:hover {
                      color: white;
                    }
                  }

                  app-conversation-item, app-friend-item {
                    .notification {
                      border: 1px solid red;
                    }

                    li {
                      cursor: pointer;
                      position: relative;
                      border-radius: 0;
                      border-right: none;
                      padding-right: 5px;

                      &:hover {
                        p {
                          opacity: 0.7;
                        }
                      }

                      &.activated {
                        border: 1px solid #449d44;
                      }

                      span {
                        cursor: pointer;

                        &.pending {
                          position: absolute;
                          bottom: 2px;
                          right: 12px;
                        }

                        &.glyphicon {
                          font-size: 25px;
                          margin-right: 3px;

                          &.glyphicon-ok {
                            color: #59ABE3;
                          }

                          &.glyphicon-remove{
                            color: #D91E18;
                          }

                          &:hover {
                            opacity: 0.6;
                          }
                        }
                      }

                      p {
                        width: 85%;
                        word-wrap: break-word;
                        padding-right: 8px;
                      }
                    }
                  }
                }
              }
            }
          }

          app-notification-sound {

          }
        }
      }

      .messages-container {
        height: 100%;
        padding: 0;

        app-messages {
          .messages {
            padding: 0;
            overflow-y: scroll;
            position: relative;

            .message-list-container {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;

              app-message-list {
                .lds-dual-ring {
                  margin: auto;
                  margin-top: 40%;
                  text-align: center;
                  width: 64px;
                  height: 64px;
                }
                .lds-dual-ring:after {
                  content: " ";
                  display: block;
                  width: 92px;
                  height: 92px;
                  margin: 1px;
                  border-radius: 50%;
                  border: 5px solid #cef;
                  border-color: #cef transparent #cef transparent;
                  animation: lds-dual-ring 0.2s linear infinite;
                }
                @keyframes lds-dual-ring {
                  0% {
                    transform: rotate(0deg);
                  }
                  100% {
                    transform: rotate(360deg);
                  }
                }

                h3 {
                  word-break: break-word;
                }

                ul {
                  app-message-item {
                    .clearfix {
                      &:hover {
                        .new-reaction {
                          display: inline-block;
                        }
                      }

                      li {
                        position: relative;
                        max-width: 50%;

                        &.owner {
                          color: white;
                          background-color: #449d44;

                          p {
                            padding-right: 15px;

                            a {
                              color: #691DAA;
                            }
                          }

                          @media only screen and (max-width: 767px) {
                            p {
                              padding: initial;
                            }
                          }
                        }

                        &.stranger {
                          min-height: 55px;
                          padding-bottom: 0;
                        }

                        p {
                          font-size: 18px;
                          word-break: break-word;
                        }

                        .user-tag {
                          margin-top: -3px;
                        }

                        .delete {
                          color: black;
                          position: absolute;
                          top: -3px;
                          right: 5px;
                          font-size: 24px;
                          opacity: 0.5;
                          user-select: none;

                          &:hover {
                            opacity: 0.7;
                          }
                        }

                        .edit {
                          cursor: pointer;
                          color: black;
                          position: absolute;
                          bottom: 2px;
                          top: auto;
                          right: 5px;
                          font-size: 16px;
                        }

                        @media only screen and (max-width: 767px) {
                          .delete, .edit {
                            display: none;
                          }
                        }

                        .reactions {
                          cursor: pointer;

                          span {
                            font-size: 16px;
                          }
                        }

                        app-media {
                          img {
                            background-color: white;
                          }

                          video {
                            width: 100%;
                          }
                        }

                        app-poll {
                          h2 {
                            margin-top: 0;
                          }

                          .answer {
                            label {
                              cursor: pointer;

                              &.selected {
                                border-left: 5px solid #59ABE3;
                                padding-left: 5px;
                              }
                            }

                            .radio {
                              cursor: pointer;
                              width: 100%;
                              height: 25px;
                              background-color: grey;

                              .progressBar {
                                color: white;
                                top: 0;
                                height: 25px;
                                background-color: #449d44;
                                height: 100%;
                              }
                            }
                          }
                        }
                      }

                      .options {
                        button {
                          height: 45px;
                          width: 54px;
                          font-size: 24px;
                        }
                      }

                      .new-reaction {
                        display: none;
                        font-size: 20px;
                        margin: 10px;

                        span {
                          cursor: pointer;
                        }

                        button {
                          padding: 0;
                          font-size: inherit;
                          width: 32px;
                          height: 32px;
                        }

                        app-reaction-picker {
                          button {
                            padding: 0;
                            font-size: inherit;
                          }
                        }
                      }

                      .reactionShow {
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }

          .message-edit-container {
            padding: 0;

            app-message-edit {
              .col-xs-12 {
                padding: 0;

                .form-group {
                  margin: 0;
                  position: relative;
                  display: flex;

                  .textarea-container {
                    width: 100%;
                    position: relative;

                    textarea.form-control {
                      border-radius: 0;
                      border-left: 0;
                      resize: none;
                      height: 55px;
                    }

                    .emoji-picker-container {
                      position: absolute;
                      right: 0;
                      bottom: 0;

                      app-emoji-picker {
                        .emoji-picker {
                          width: 278px;
                          height: 325px;
                          background-color: white;
                          border: solid 1px #ccc;

                          .emoji-header {
                            cursor: pointer;

                            .emoji {
                              width: 45px;
                            }
                          }

                          hr {
                            margin: 6px 0 0 0;
                          }

                          .picker-body {
                            height: 269px;
                            overflow-y: scroll;

                            .selection {
                              padding: 0;
                              font-size: inherit;
                              cursor: pointer;
                              margin: 2px 1px;

                              .emoji {
                                width: 33px;
                                margin: 1px;
                              }
                            }
                          }
                        }

                        .emoji-toggle {
                          padding: 0;
                          font-size: inherit;
                          cursor: pointer;
                          width: 32px;
                          height: 32px;
                        }
                      }
                    }
                  }
                }

                .submit {
                  font-family: arial, Segoe UI Symbol;
                }

                .file-picker {
                  span {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }

        app-typing {
          position: absolute;
          bottom: 56px;
          left: 0;
          background-color: white;
          z-index: 1;
        }
      }
    }

    app-conversation-edit, app-friend-edit, app-reaction {
      .container {
        position: absolute;
        top: 10%;
        margin: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 2;
      } 

      .participant {
        position: relative;
      }

      .container .close {
        font-size: 50px;
        position: absolute;
        top: -5px;
        right: 18px;
      }

      .participant .close {
        font-size: 30px;
        position: absolute;
        top: -5px;
        right: 18px;
      }

      .greyout {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(128,128,128,0.5);
      }

      @media only screen and (max-width: 768px) {
        .container {
          width: 100%;
          left: 0;
          -webkit-transform: none;
          transform: none;
        }
      }
    }
  }

  app-settings {
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 55px;
}

.hidden {
  display: none;
}

app-messenger, app-messages, app-message-list {
  height: 100%;
}

.selection .emoji {
}

.emoji {
  width: 32px;
}

app-message-item .emoji {
  height: 1.5em;
  width: 1.5em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.4em;
}

div::-webkit-scrollbar {
  width: 0.5em;
}
 
div::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1);
}
 
div::-webkit-scrollbar-thumb {
  background-color: #449d44;
  outline: 5px solid grey;
}

a.linkified {
  word-break: break-all;
}

.hide-auto .ng2-auto-complete-wrapper ng2-auto-complete {
  display: none !important;
}

app-typing {
}
